// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

:root {
    --color-bg: #225c00;
    --color-bg-section: #e7dddd;
    --color-close-icon: #008000;
    --color-close-icon-hover: #e7eb06;
}

